---

name: release

on:
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    name: Release ec_check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "stable"

      - name: Build binaries
        run: |
          make build

      - name: Upload release assets
        run: |
            cd ${{github.workspace}}
            gh release upload ${{github.event.release.tag_name}} ./bin/ec_check.linux.amd64
            gh release upload ${{github.event.release.tag_name}} ./bin/ec_check.linux.arm64
            gh release upload ${{github.event.release.tag_name}} ./bin/ec_check.macos.amd64
            gh release upload ${{github.event.release.tag_name}} ./bin/ec_check.macos.arm64
            gh release upload ${{github.event.release.tag_name}} ./bin/ec_check.windows.amd64.exe
            gh release upload ${{github.event.release.tag_name}} ./bin/ec_check.windows.arm64.exe
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
        shell: bash
