---

name: release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  release:
    name: Release ec_check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "stable"

      - name: Build binaries
        run: |
          make build

      - name: Upload for Linux
        uses: actions/upload-artifact@v4
        with:
          name: Linux
          path: bin/*linux*

      - name: Upload for MacOS
        uses: actions/upload-artifact@v4
        with:
          name: macos
          path: bin/*macos*

      - name: Upload for Windows
        uses: actions/upload-artifact@v4
        with:
          name: Windows
          path: bin/*windows*
